@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #1c0522;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 6px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 20px;
    margin-left: 20px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
    width: 275px;
    height: auto;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background: #fff;
    color: #2b1055;
}

/* Float the link section to the right */
.header-right {
    float: right;
    margin-top: 20px; /* Adjust margin-top as needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.sectiontop {
    width: 100%;
    height: 100vh;
    padding: 0%;
    overflow: hidden;
    position: relative;
    background-image: url(images/backgrounds/james2.jpg);
    background-size: 100% 100%;
    animation: slider 105s infinite linear;
}

.background {
    width: 100%;
    height: 100vh;
    padding: 0%;
}

.sec {
    top: 0;
    left: 0;
    height: auto; /* Change height to auto for better responsiveness */
    position: relative;
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center; /* Align items center */
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5vw;
    margin-bottom: 10px;
    color: #fff;
}

.sec img#aboutpic {
    width: 100%; /* Change width to 100% for responsiveness */
    height: auto;
    margin: 0; /* Reset margins */
    color: #fff;
    background: #fff;
    box-shadow: 0 0 30px #fff;
}

.sec p {
    position: static; /* Change position to static */
    margin: 20px 0; /* Adjust margin for better spacing */
    color: #fff;
    font-size: 1.7vw;
}

.border {
    height: 6px;
    background-color: #fff;
}

.meet {
    top: 0;
    left: 0;
    height: auto; /* Change height to auto for better responsiveness */
    position: relative;
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center; /* Align items center */
    background: #1c0522;
}

.meet img#rubberwall {
    width: 100%; /* Change width to 100% for responsiveness */
    height: auto;
    margin: 0; /* Reset margins */
    color: #fff;
    background: #fff;
    box-shadow: 0 0 30px #fff;
}

.meet a {
    background: #fff;
    color: #1c0522;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 1.7em;
    position: static; /* Change position to static */
    margin: 20px 0; /* Adjust margin for better spacing */
}

.meet a:hover {
    background: #1c0522;
    color: #fff;
}

.footer {
    width: 100%;
    height: 20vh;
    background: #1c0522;
}

.footer img#truenorthlogo {
    width: 6%;
    height: auto;
    margin-top: 5vh;
    margin-left: 10%;
}

.footer img#ttontario {
    width: 10%;
    height: auto;
}

.footer img#ttcan {
    width: 7.5%;
    height: auto;
}

.links {
    width: 18%;
    background-color: #1c0522;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 43%;
    top: -10vh;
}

.links a {
    color: #fff;
    font-size: 3vh;
    white-space: nowrap;
}

.footer p {
    color: #fff;
    font-size: 3vh;
}

.footer p#james {
    position: relative;
    top: -19vh;
    left: 70%;
}

.footer p#eric {
    position: relative;
    top: -19vh;
    left: 70%;
}

@keyframes slider {

    0%,
    3% {
        background-image: url(images/backgrounds/james2.jpg), url(images/backgrounds/homepage17.png);
        animation-delay: 2s;
    }

    5%,
    8% {
        background-image: url(images/backgrounds/homepage17.png), url(images/backgrounds/homepage16.png);
        animation-delay: 2s;
    }

    10%,
    13% {
        background-image: url(images/backgrounds/homepage16.png), url(images/backgrounds/homepage18.png);
    }

    15%,
    18% {
        background-image: url(images/backgrounds/homepage18.png), url(images/backgrounds/homepage11.png);
    }

    20%,
    23% {
        background-image: url(images/backgrounds/homepage11.png), url(images/backgrounds/homepage19.png);
    }

    25%,
    28% {
        background-image: url(images/backgrounds/homepage19.png), url(images/backgrounds/homepage12.png);
    }

    30%,
    33% {
        background-image: url(images/backgrounds/homepage12.png), url(images/backgrounds/homepage20.png);
    }

    35%,
    38% {
        background-image: url(images/backgrounds/homepage20.png), url(images/backgrounds/homepage13.png);
    }

    40%,
    43% {
        background-image: url(images/backgrounds/homepage13.png), url(images/backgrounds/homepage21.png);
    }

    45%,
    48% {
        background-image: url(images/backgrounds/homepage21.png), url(images/backgrounds/homepage14.png);
    }

    50%,
    53% {
        background-image: url(images/backgrounds/homepage14.png), url(images/backgrounds/homepage22.png);
    }

    55%,
    58% {
        background-image: url(images/backgrounds/homepage22.png), url(images/backgrounds/homepage27.png);
    }

    60%,
    63% {
        background-image: url(images/backgrounds/homepage27.png), url(images/backgrounds/homepage23.png);
    }

    65%,
    68% {
        background-image: url(images/backgrounds/homepage23.png), url(images/backgrounds/homepage28.png);
    }

    70%,
    73% {
        background-image: url(images/backgrounds/homepage28.png), url(images/backgrounds/homepage24.png);
    }

    75%,
    78% {
        background-image: url(images/backgrounds/homepage24.png), url(images/backgrounds/homepage15.png);
    }

    80%,
    83% {
        background-image: url(images/backgrounds/homepage15.png), url(images/backgrounds/homepage25.png);
    }

    85%,
    88% {
        background-image: url(images/backgrounds/homepage25.png), url(images/backgrounds/homepage10.png);
    }

    90%,
    93% {
        background-image: url(images/backgrounds/homepage10.png), url(images/backgrounds/homepage26.png);
    }

    95%,
    98% {
        background-image: url(images/backgrounds/homepage26.png), url(images/backgrounds/james2.jpg);
    }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 576px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .sectiontop {
        display: none;
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }

    .links {
        top: -5vh;
    }

    .links a {
        font-size: 1vh;
    }

    .footer p {
        font-size: 1vh;
    }

    .footer p#james {
        top: -8vh;
    }
    
    .footer p#eric {
        top: -8vh;
    }
}